@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --color-violet-400: theme('colors.violet.400');
        --color-fuchsia-400: theme('colors.fuchsia.400');
        --color-fuchsia-900: theme('colors.fuchsia.900');
        --color-indigo-900: theme('colors.indigo.900');
        --color-amber-300: theme('colors.amber.300');
        --color-teal-300: theme('colors.teal.300');
        --color-gray-950: theme('colors.gray.950');
        --color-border: theme('colors.gray.600');
    }

    .border-gradient {
        @apply border-2 border-transparent relative [background:linear-gradient(var(--color-gray-950),var(--color-gray-950))_padding-box,conic-gradient(from_45deg,var(--color-violet-400),var(--color-fuchsia-400),var(--color-amber-300),var(--color-teal-300),var(--color-violet-400))_border-box]
    }
    .absolute-center {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 isolate -z-10
    }
}


@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}